.container {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.itemsContainer {
    display: grid;
    max-width: 80em;
    margin: auto;
    padding: 0.5em 0;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    grid-template-rows: repeat(auto-fit, 13.5em);
    column-gap: 0.5em;
    row-gap: 0.5em;
    justify-content: center;
    justify-items: center;
}
